:root {
  --brand-1: #4c6ef5;
  --brand-2: #364fc7;
  --gray-1: #191c1f;
  --gray-2: #212529;
  --gray-3: #343a40;
  --gray-4: #adb5bd;
  --gray-5: #ced4da;
  --gray-6: #edf2ff;
  --gray-7: #f8f9fa;
  --title1: clamp(2.25rem, 1.186rem + 4.007vw, 3.75rem);
  --title2: clamp(1.75rem, 1.218rem + 2.003vw, 2.5rem);
  --title3: clamp(1.5rem, 1.145rem + 1.336vw, 2rem);
  --text1: 1.25rem;
  --text2: 1.125rem;
  --text3: 1rem;
  --text4: 1rem;
  --gap-5: clamp(1.25rem, -1.411rem + 10.017vw, 5rem);
}

body {
  font-family: "Inter", sans-serif;
}

.header {
  background-color: var(--gray-1);
  border-bottom: 2px solid var(--brand-1);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
}

.header__button {
  border: 1px solid var(--gray-7);
  color: var(--gray-7);
  background-color: var(--gray-1);
  font-weight: 600;
  padding: 1rem clamp(1rem, 0.29rem + 2.671vw, 2rem);
  cursor: pointer;
  margin-left: 1rem;
}

.banner {
  background-color: var(--gray-2);
}

.banner__content {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.25rem, 0.186rem + 4.007vw, 2.75rem);
  justify-content: center;
}

.banner__title {
  font-size: var(--title1);
  font-weight: 600;
  line-height: 140%;
  color: var(--gray-7);
  text-align: center;
  padding: 0 2rem;
}

.banner__title span {
  color: var(--brand-2);
}

.banner__text {
  font-size: var(--text1);
  color: var(--gray-4);
  line-height: 150%;
  text-align: center;
}

.banner__button {
  background-color: var(--brand-1);
  color: var(--gray-7);
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.banner__button:hover {
  background-color: var(--brand-2);
}

.about {
  background-color: var(--gray-1);
  padding: 2.5rem clamp(2rem, -13rem + 31.25vw, 7rem);
}

.about__content {
  display: flex;
  flex-direction: row;
  gap: var(--gap-5);
}

.about__title {
  font-size: var(--title2);
  font-weight: 600;
  line-height: 160%;
  color: var(--gray-6);
  flex: 1;
  display: flex;
  align-items: center;
}

.about__text {
  font-size: var(--text1);
  line-height: 150%;
  font-weight: 400;
  color: var(--gray-5);
  text-align: justify;
  flex: 1;
}

.faq {
  background-color: var(--gray-2);
  color: var(--gray-4);
  padding: 2.5rem clamp(2rem, -13rem + 31.25vw, 7rem);
}

.faq__container {
  display: flex;
  flex-direction: row;
  text-align: justify;
  gap: var(--gap-5);
}

.faq__intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: clamp(0.938rem, 0.139rem + 3.005vw, 2.063rem);
  position: sticky;
  top: 6.5rem;
  align-self: flex-start;
}

.faq__title {
  font-size: var(--title2);
  font-weight: 600;
  line-height: 160%;
  color: var(--gray-6);
}

.faq__text {
  font-size: var(--text1);
  line-height: 150%;
}

.faq__button {
  background-color: var(--brand-1);
  color: var(--gray-7);
  padding: 1rem 2rem;
  align-self: flex-start;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.faq__button:hover {
  background-color: var(--brand-2);
}

.faq__list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: clamp(0.938rem, 0.139rem + 3.005vw, 2.063rem);
}

.faq__item {
  display: flex;
  flex-direction: column;
  gap: clamp(0.938rem, 0.139rem + 3.005vw, 2.063rem);
}

.faq__question {
  font-size: var(--title3);
  font-weight: 600;
  line-height: 160%;
  color: var(--gray-6);
}

.faq__answer {
  font-size: var(--text1);
  font-weight: 400;
  line-height: 150%;
}

.comments__container {
  background-color: var(--gray-2);
  display: flex;
  flex-direction: row-reverse;
  padding: 2.5rem clamp(2rem, -13rem + 31.25vw, 7rem);
}

.comments__intro {
  flex: 1;
}

.comments__intro-content {
  background-color: var(--brand-1);
  padding: 4rem 2rem;
  margin-left: clamp(1.75rem, -1.62rem + 12.688vw, 6.5rem);
  position: sticky;
  top: 6.5rem;
}

.comments__title {
  font-size: var(--title2);
  color: var(--gray-7);
  font-weight: 600;
  line-height: 160%;
}

.comments__text-right {
  font-size: var(--text1);
  line-height: 150%;
  color: var(--gray-7);
  font-weight: 400;
}

.comments__list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
}

.comments__item {
  display: flex;
}

.comments__user-info {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-right: 1rem;
  width: 35%;
}

.comments__user-name {
  font-size: var(--title3);
  font-weight: 600;
  line-height: 160%;
  color: var(--gray-6);
}

.comments__user-role {
  font-size: var(--text3);
  line-height: 150%;
  color: var(--gray-4);
}

.comments__text {
  font-size: var(--text2);
  line-height: 150%;
  color: var(--gray-5);
  text-align: justify;
  width: 65%;
}

.footer {
  background-color: var(--gray-1);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__controller {
  background-color: var(--gray-2);
  border: solid 1px var(--brand-1);
  padding: 2.5rem 1.5rem;
  width: 450px;
}

.modal__close {
  background-color: var(--gray-3);
  color: var(--gray-4);
  border: none;
  padding: 0.5rem 0.75rem;
  position: absolute;
  right: 1.5rem;
  top: 2.5rem;
  cursor: pointer;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modal__title {
  font-size: var(--title3);
  line-height: 160%;
  font-weight: 600;
  color: var(--gray-7);
}

.modal__text {
  font-size: var(--text3);
  line-height: 150%;
  color: var(--gray-5);
}

.modal__input {
  background-color: var(--gray-1);
  font-size: var(--text1);
  line-height: 150%;
  color: var(--gray-4);
  border: solid 1px var(--gray-1);
  padding: 0.75rem 1.75rem;
}

.modal__input-button {
  background-color: var(--brand-1);
  color: var(--gray-7);
  font-size: var(--text4);
  line-height: 150%;
  font-weight: 600;
  border: solid 1px var(--brand-1);
  padding: 1rem 2rem;
  cursor: pointer;
}

.modal__input-button:hover {
  background-color: var(--brand-2);
}

.modal__input:focus {
  background-color: var(--gray-2);
  outline: none;
}

.modal__input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.modal__input:valid {
  background-color: var(--gray-3);
}

.modal__controller::backdrop {
  background-color: rgb(0, 0, 0, 0.6);
}
@media (max-width: 1024px) {
  .comments__item {
    display: flex;
    flex-direction: column;
  }
  .comments__user-info {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .comments__user-role {
    align-self: center;
  }

  .comments__text {
    width: auto;
  }
}
@media (max-width: 768px) {
  .banner__text {
    padding: 0 1rem;
  }

  .about {
    padding: 2.5rem 2rem;
  }
  .about__content {
    display: flex;
    flex-direction: column;
  }
  .about__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .faq {
    padding: 2.5rem 2rem;
  }

  .faq__container {
    display: flex;
    flex-direction: column;
  }
  .faq__intro {
    display: flex;
    justify-content: center;
    position: static;
  }

  .faq__title {
    text-align: center;
  }

  .faq__button {
    align-self: none;
    width: 100%;
  }

  .faq__question {
    text-align: center;
  }

  .comments__container {
    flex-direction: column;
    padding: 0 2rem;
    padding-bottom: 2.5rem;
  }
  .comments__intro {
    padding-bottom: 2.5rem;
  }

  .comments__intro-content {
    margin: 0;
    position: static;
    padding: 3rem 2rem;
  }

  .comments__title {
    padding-bottom: 2rem;
  }
}

@media (max-width: 425px) {
  .header__button {
    display: none;
  }

  .header__container {
    display: flex;
    justify-content: flex-start;
  }

  .banner__content {
    padding: 2.5rem 0;
  }
}
